html {
    background-color: mintcream;
}

body {
    background-color: lavender;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid black;
    width: 350px;
}

h2 {
    font-size: 2em;
    text-align: center;
}

.price, .percent {
    padding-bottom: 20px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
}

p {
    font-size: 20px;
    margin-left: 10px;
}

.button {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    width: 95%;
    margin-left: 10px;
}

input {
    width: 60%;
    height: 20px;
    border: none;
    float: right;
    margin-right: 10px;
}


